doctype html
html
  head
    title #{title}
    link(href='styles.css', rel='stylesheet')

  body
    h1 Dione
    p Dione (/daɪˈoʊni/;[7] Greek: Διώνη) is a moon of Saturn. It was discovered by Italian astronomer Giovanni Domenico Cassini in 1684.[8] It is named after the Titaness Dione of Greek mythology. It is also designated Saturn IV.
