doctype html
html
  head
    title #{title}
    link(href='styles.css', rel='stylesheet')

  body
    h1 Rhea
    p Rhea (/ˈriːə/;[b] Ancient Greek: Ῥέᾱ) is the second-largest moon of Saturn and the ninth-largest moon in the Solar System. It is the second smallest body in the Solar System, after the asteroid and dwarf planet Ceres, for which precise measurements have confirmed a shape consistent with hydrostatic equilibrium.[7] [8] It was discovered in 1672 by Giovanni Domenico Cassini.
